@page "{term?}"
@model FindModel
@{
    ViewData["Active"] = "Find";
}

<div class="row mt-3">
    <div class="col-12">
        <h2>
            @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
            ["de-DE"] = () => "Zeitleisteneinträge",
            ["en-US"] = () => "Timeline Entries"
            })
        </h2>

        <h3>
            "@Model.SearchTerm"
        </h3>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        @foreach (var entry in Model.List) {
            <div>
                <a href="@Url.Page("/Timeline", null, new { name = entry.SeoTitle, term = Model.SearchTerm })#@Model.SearchTerm">@entry.Year @entry.Title</a>
            </div>
        }
    </div>
</div>
