@page "{name?}"
@model IndexModel
@{
    ViewData["Active"] = "Index";

    if (Model.Entry != null) {
        ViewData["Title"] = Model.Entry.Title;
        ViewData["MetaDescription"] = Model.Entry.Summary;
        ViewData["MetaFacebookTitle"] = Model.Entry.Title;
        ViewData["MetaFacebookDescription"] = Model.Entry.Summary;
        ViewData["MetaFacebookImage"] = Url.IsLocalUrl(Model.Entry.Image) ? Url.Content(Model.Entry.Image) : Model.Entry.Image;
        ViewData["MetaFacebookImageAlt"] = Model.Entry.Title;
        ViewData["MetaTwitterTitle"] = Model.Entry.Title;
        ViewData["MetaTwitterDescription"] = Model.Entry.Summary;
        ViewData["MetaTwitterImage"] = Url.IsLocalUrl(Model.Entry.Image) ? Url.Content(Model.Entry.Image) : Model.Entry.Image;
    } else {
        ViewData["Title"] = @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
                    ["de-DE"] = () => "Galactic Developments - Die Geschichte der Zukunft",
                    ["en-US"] = () => "Galactic Developments - The History of the Future"
                });
        //ViewData["MetaDescription"] = Model.Entry.Summary;
        //ViewData["MetaFacebookTitle"] = Model.Entry.Title;
        //ViewData["MetaFacebookDescription"] = Model.Entry.Summary;
        //ViewData["MetaFacebookImage"] = Url.IsLocalUrl(Model.Entry.Image) ? Url.Content(Model.Entry.Image) : Model.Entry.Image;
        //ViewData["MetaFacebookImageAlt"] = Model.Entry.Title;
        //ViewData["MetaTwitterTitle"] = Model.Entry.Title;
        //ViewData["MetaTwitterDescription"] = Model.Entry.Summary;
        //ViewData["MetaTwitterImage"] = Url.IsLocalUrl(Model.Entry.Image) ? Url.Content(Model.Entry.Image) : Model.Entry.Image;
    }
}

@if (Model.Entry != null) {

    <div class="row mt-4">
        <div class="col-12">
            <h1>
                @Model.Entry.Title
            </h1>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.Entry.Image)) {
        <div class="col-12">
            <img src="Image/@Model.Entry.Image" class="img-responsive" />
        </div>
    }

    <div class="row mt-2">
        <div class="col-12">
            @foreach (var t in Model.Entry.Text) {
                <p>@t</p>
            }
        </div>
    </div>

} else @if (Model.Entries != null) {

    <div class="row">
        <img src="images/banner.jpg" class="col-12" />
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <h1>
                @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
            ["de-DE"] = () => "Die Geschichte der Zukunft",
            ["en-US"] = () => "The History of the Future"
            })
            </h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h2>
                @Model.I18n.String(path: "SubTitle", i18n: new StringGeneratorI18n {
            ["de-DE"] = () => "Von der Besiedlung des Sonnensystems bis zur interstellaren Zivilisation",
            ["en-US"] = () => "From Early Settlements in the Solar System to an Interstellar Civilization"
            })
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>
                @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
            ["de-DE"] = () => "Galactic Developments ist ein Geschichtsbuch der Zukunft, eine realistische Timeline.",
            ["en-US"] = () => "Galactic Developments is a history book of the future, a realistic timeline."
            })
            </p>
            <p>
                @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
            ["de-DE"] = () => "Erst besiedelt die Menschheit das eigene Sonnensystem. Eine interplanetare Zivilisation entwickelt sich mit Erfindungen und Entdeckungen, Politik und Intrigen. Machtzentren kommen und gehen.",
            ["en-US"] = () => "Humanity expands into the Solar System. The interplanetary civilization develops. With inventions and discoveries, politics and intrigues. Interplanetary powers come and go... "
            })
            </p>
            <p>
                @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
            ["de-DE"] = () => "Dann die Sterne. Schon bevor Raumkrümmer-Antriebe richtig schnell sind, gibt es gewagte Missionen und lange Reisen ins Unbekannte. Nicht nur die Menschen schauen sich um. Auch die Umgebung nimmt die Menschen langsam wahr.",
            ["en-US"] = () => "Then the stars. Initially, FTL space ships are slower than light speed Bold missions explore the unknown fringes."
            })
            </p>
            <p>
                @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
            ["de-DE"] = () => "Später wird die Menschheit in die dramatische Entwicklung ihrer interstellaren Nachbarschaft hineingezogen und lernt auf die harte Tour, dass Stabilität nicht selbstverständlich ist.",
            ["en-US"] = () => "Later, humanity is drawn into the dramatic development of its interstellar neighborhood and must learn the hard way, that stability is not a given."
            })
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>
                Timeline
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @foreach (var kv in Model.Entries) {
                <div><a href="@kv.Value.SeoTitle">@kv.Value.Year @kv.Value.Title</a></div>
            }
        </div>
    </div>
}

@section Scripts {
    <script>
    </script>
}
