@page
@model IndexModel
@{
    var title = Model.I18n.String(path: "Meta/Title", i18n: new StringGeneratorI18n {
                ["de-DE"] = () => "Galactic Developments - Die Geschichte der Zukunft",
                ["en-US"] = () => "Galactic Developments - The History of the Future"
            });
    var description = Model.I18n.String(path: "Meta/Description", i18n: new StringGeneratorI18n {
                ["de-DE"] = () => "Eine Science Fiction Geschichte der Menschheit von der Besiedlung des Sonnensystems bis zur interstellaren Zivilisation.",
                ["en-US"] = () => "A Science Fiction history of the future from early settlements in the Solar System to an interstellar civilization"
            });
    var image = Model.I18n.String(path: "Meta/Image", i18n: new StringGeneratorI18n {
                ["de-DE"] = () => "/images/site/FlyerFront.jpg",
                ["en-US"] = () => "/images/site/FlyerFront.jpg"
            });

    ViewData["Active"] = "Index";
    ViewData["Title"] = title;
    ViewData["MetaDescription"] = description;
    ViewData["MetaFacebookTitle"] = title;
    ViewData["MetaFacebookDescription"] = description;
    ViewData["MetaFacebookImage"] = image;
    ViewData["MetaFacebookImageAlt"] = title;
    ViewData["MetaTwitterTitle"] = title;
    ViewData["MetaTwitterDescription"] = description;
    ViewData["MetaTwitterImage"] = image;
}

<div class="row mt-3">
    <div class="col-12">
        <h1>
            @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
            ["de-DE"] = () => "Die Geschichte der Zukunft",
            ["en-US"] = () => "The History of the Future"
            })
        </h1>
    </div>
</div>

<div class="row my-3">
    <div class="col-12">
        <h2>
            @Model.I18n.String(path: "SubTitle", i18n: new StringGeneratorI18n {
            ["de-DE"] = () => "Von der Besiedlung des Sonnensystems bis zur interstellaren Zivilisation",
            ["en-US"] = () => "From Early Settlements in the Solar System to an Interstellar Civilization"
            })
        </h2>
    </div>
</div>

@{
    var cards = new List<Node>();

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.I18n.String(path: "Box/Historybook/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Ein Geschichtsbuch",
                        ["en-US"] = () => "A History Book",
                    }),
                    ["Text"] = Model.I18n.String(path: "Box/Historybook/Text", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Die Geschichte der Zukunft erzählt in vielen einzelnen Ereignissen, Entdeckungen und Erfindungen aus Technik, Wirtschaft und Gesellschaft.",
                        ["en-US"] = () => "The history of the future told in many events, discoveries, and inventions in technology, economy, and society.",
                    }),
                }));
    }

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.I18n.String(path: "Box/HardScifi/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Hard SciFi",
                        ["en-US"] = () => "Hard SciFi"
                    }),
                    ["Text"] = Model.I18n.String(path: "Box/HardScifi/Text", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Basierend auf echter Wissenschaft. Futurologie, realistische Physik, mögliche Technik.",
                        ["en-US"] = () => "Based on science. Futuorology, real physics, possible technology."
                    }),
                }));
    }

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.I18n.String(path: "Box/Interplanetary/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Interplanetar und interstellar",
                        ["en-US"] = () => "Interplanetary and Interstellar"
                    }),
                    ["Text"] = Model.I18n.String(path: "Box/Interplanetary/Text", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Erst besiedelt die Menschheit das eigene Sonnensystem. Eine interplanetare Zivilisation entwickelt sich mit Erfindungen und Entdeckungen, Politik und Intrigen. Machtzentren kommen und gehen.<br /><br />Dann die Sterne. Schon bevor Raumkrümmer-Antriebe richtig schnell sind, gibt es gewagte Missionen und lange Reisen ins Unbekannte. Nicht nur die Menschen schauen sich um. Auch die Umgebung nimmt die Menschen langsam wahr.<br /><br />Später wird die Menschheit in die dramatische Entwicklung ihrer interstellaren Nachbarschaft hineingezogen und lernt auf die harte Tour, dass Stabilität nicht selbstverständlich ist.",
                        ["en-US"] = () => "Humanity expands into the Solar System. The interplanetary civilization develops with inventions and discoveries, politics and intrigues. Interplanetary powers come and go.<br /><br />Then the stars. Initially, FTL drives ships are slower than the speed of light and bold missions explore the unknown fringes.<br /><br />Later, humanity is drawn into the dramatic development of its interstellar neighborhood and must learn the hard way, that stability is not a given."
                    }),
                }));
    }

    {
        var topic = "adventure";
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.Series.GetTitleOfTopic(topic),
                    ["Text"] = string.Join("<br/>",
                Model.Series.GetEntriesOfTopic(topic)
                .Select(entry => $"<a href='{Model.Links.GetPathByPage("/Timeline", null, new { name = entry.SeoTitle })}'>{entry.Year} {entry.DisplayName}</a>")
                )
                }));
    }

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.I18n.String(path: "Box/ByTopic/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Alle Themen",
                        ["en-US"] = () => "All Topics",
                    }),
                    ["Text"] = string.Join(" ", Model.Series.Topics.Select(topic => "<a href='Topics#" + topic + "'>" + Model.Series.GetTitleOfTopic(topic) + "</a>")),
                }));
    }

    //{
    //    cards.Add(Node.From(new Dictionary<string, string> {
    //                ["Title"] = Model.I18n.String(path: "Box/Timeline/Title", i18n: new StringGeneratorI18n {
    //                    ["de-DE"] = () => "Die ganze Zeitleiste",
    //                    ["en-US"] = () => "Full Timeline",
    //                }),
    //                ["Text"] = Model.I18n.String(path: "Box/Timeline/Text", i18n: new StringGeneratorI18n {
    //                    ["de-DE"] = () => "<a href='List'>Alle Artikel als Liste</a>",
    //                    ["en-US"] = () => "<a href='List'>Complete List of timeline entries</a>",
    //                }),
    //            }));
    //}

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.I18n.String(path: "Box/Expansion/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Die grosse Erweiterung",
                        ["en-US"] = () => "The great Expansion",
                    }),
                    ["Text"] = Model.I18n.String(path: "Box/Expansion/Text", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Es gibt noch viele kurze Einträge. Viele davon sind tolle Ideen und wichtige Meilensteine der Entwicklung. Sie verdienen mehr Einzelheiten und mehr Liebe. Die ersten Ergebnisse der Erweiterungkampagne:",
                        ["en-US"] = () => "There are still lots of small an short entries. The are great ideas and great milestones. They deserve more detail and love. First results of the expansion campaign:",
                    })
                + "<br/><br/>"
                + string.Join("<br/>", new[] {
"PalladianLeague",
"LunarRevolt",
"NeosozTerror",
"MoonDeportations",
"EndVenusTerraforming",
"ServizioStazione",
"SpacePatrol",
"AsteroidMining",
"Gemini",
"1000InSpace",
                }
                .Where(name => Model.Series.HasEntry(name))
                .Select(name => {
                    var entry = Model.Series.GetEntry(name);
                    return $"<a href='{Model.Links.GetPathByPage("/Timeline", null, new { name = entry?.SeoTitle })}'>{entry?.Year} {entry?.DisplayName}</a>";
                })),
                }));
    }

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.I18n.String(path: "Box/Project/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Softwareprojekt",
                        ["en-US"] = () => "Software Project",
                    }),
                    ["Text"] = Model.I18n.String(path: "Box/Project/Text", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "<ul>" + string.Join("\n", new[] {
"Quellcode: <a href='https://github.com/wolfspelz/galdev/'>GitHub</a>",
"dotnet, docker, github actions, nginx",
"Die C# IDE ist mein CMS",
"GitHub Actions sind mein Deployment",
"Ein git-push auf main und es ist online",
"Alle <a href='https://github.com/wolfspelz/galdev/tree/main/data/de'>Artikel als YAML</a>",
"<a href='https://github.com/wolfspelz/galdev/issues'>Probleme melden</a>",
}.Select(x => $"<li>{x}</li>")) + "</ul>",
                        ["en-US"] = () => "<ul>" + string.Join("\n", new[] {
"Source: <a href='https://github.com/wolfspelz/galdev/'>GitHub</a>",
"dotnet, docker, github actions, nginx",
"The C# IDE is my CMS",
"GitHub Actions is my deployment",
"A git-push to main and it's online",
"<a href='https://github.com/wolfspelz/galdev/tree/main/data/en'>Content</a> in YAML files",
"<a href='https://github.com/wolfspelz/galdev/issues'>Issues</a>",
}.Select(x => $"<li>{x}</li>")) + "</ul>",
                    }),
                }));
    }

    if (Model.UiCultureName == "de-DE") {
        var link = Model.Links.GetPathByPage("/Assumptions", null, new { }) ?? "";
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Link"] = link,
                    ["Title"] = "Annahmen",
                    ["TextHasLink"] = "true",
                    ["Text"] = @"
Galactic Developments basiert auf echter Wissenschaft.
Diese Geschichte der Zukunft ist eine Fortschreibung unserer Welt.
Aber wie sieht das Szenario aus. Gibt es Aliens? Wenn ja, wie viele? Gibt es Nanotechnologie, KI?
Hier ist eine Reihe von Annahmen und Grundlagen...",
                }));
    }

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.I18n.String(path: "Box/SocialMedia/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Social Media",
                        ["en-US"] = () => "SocialMedia",
                    }),
                    ["Text"] = Model.I18n.String(path: "Box/SocialMedia/Text", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => string.Join(" ", new[] {
"<a href='https://www.facebook.com/GalacticDevelopments'>Facebook</a>",
"<a href='https://www.youtube.com/@GalacticDevelopments'>YouTube</a>",
"<a href='https://twitter.com/galacticdev'>Twitter</a>",
"<a href='https://www.instagram.com/galacticdevelopments/'>Insta</a>",
}),
                        ["en-US"] = () => string.Join(" ", new[] {
"<a href='https://www.facebook.com/GalacticDevelopments'>Facebook</a>",
"<a href='https://www.youtube.com/@GalacticDevelopments'>YouTube</a>",
"<a href='https://twitter.com/galacticdev'>Twitter</a>",
"<a href='https://www.instagram.com/galacticdevelopments/'>Insta</a>",
}),
                    }),
                }));
    }

    {
        var entry = Model.Series.GetEntry("Supernova");
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["ImgSrc"] = "/Image/" + entry?.Image ?? "",
                    ["ImgAlt"] = entry?.DisplayName ?? "",
                    ["Link"] = Model.Links.GetPathByPage("/Timeline", null, new { name = entry?.SeoTitle }) ?? "",
                    ["Title"] = entry?.DisplayName ?? "",
                    ["TitleHasLink"] = "true",
                    ["Text"] = entry?.Summary ?? "",
                }));
    }

    {
        var topic = "culture";
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.Series.GetTitleOfTopic(topic),
                    ["Text"] = string.Join("<br/>",
                Model.Series.GetEntriesOfTopic(topic)
                .Select(entry => $"<a href='{Model.Links.GetPathByPage("/Timeline", null, new { name = entry.SeoTitle })}'>{entry.Year} {entry.DisplayName}</a>")
                )
                }));
    }

    if (Model.UiCultureName == "en-US") {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = "Latest Translations",
                    ["Text"] = string.Join("<br/>", new[] {
"ultrametals",
"ancientrobots",
"executivedecision",
"yaris",
"contour",
"prophet",
"queenmarduk",
"feudalconspiracy",
"tranquility1000",
"utho",
"intelligentgalaxies",
"solos",
"warringswarms",
"moonuprising",
"supernova",
"controversygate",
"Ruins",
"Turnaround",
"Collisioncourse",
}
                .Where(name => Model.Series.HasEntry(name))
                .Select(name => {
                    var entry = Model.Series.GetEntry(name);
                    return $"<a href='{Model.Links.GetPathByPage("/Timeline", null, new { name = entry?.SeoTitle })}'>{entry?.Year} {entry?.DisplayName}</a>";
                })),
                }));
    }

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.I18n.String(path: "Box/New/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Neue Beiträge",
                        ["en-US"] = () => "Latest Articles",
                    }),
                    ["Text"] = string.Join("<br/>", new[] {
"Die_erste_Menschheit",
"QueenMarduk",
"Quantenkontinuum",
"100000InSpace",
"ControversyGate",
"Flux",
"SoloEhre",
"Fragmentierung",
"Solos",
"Scale",
"Sterge",
"Prophet",
"ReshumanisCobol",
}
                .Where(name => Model.Series.HasEntry(name))
                .Select(name => {
                    var entry = Model.Series.GetEntry(name);
                    return $"<a href='{Model.Links.GetPathByPage("/Timeline", null, new { name = entry?.SeoTitle })}'>{entry?.Year} {entry?.DisplayName}</a>";
                })),
                }));
    }

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = Model.I18n.String(path: "Box/Things/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "100 Dinge",
                        ["en-US"] = () => "100 Things",
                    }),
                    ["Text"] = Model.I18n.String(path: "Box/Things/Text", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Die Dinge mit denen wir täglich umgehen, prägen unseren Alltag. Sie sind oft charakteristisch für ihre Zeit. Sie zeigen, wie die Menschen leben und was gerade aktuell ist. Eigentlich sind sie uns viel näher als Nachrichtenmeldungen, Geschichtsbucheinträge und die große Politik. Deshalb will ich 100 Objekte aus den nächsten 1000 Jahren vorstellen. Auch wenn das nicht immer Alltagsgegenstände sind. Highlights:",
                        ["en-US"] = () => "The things we deal with on a daily basis shape our everyday life. They are often characteristic of their time. They show how people live and what's important to them. In fact, they are much closer to us than news reports, history book entries, and grand politics. That's why I want to show 100 objects from the next 1000 years, even if they are not always everyday items. Highlights:",
                    })
                + "<br/><br/>"
                + string.Join("<br/>", new[] {
"NeuroImplant",
"DoomsdayCocktail",
"DeliveryBot",
"CodingKit",
"Fusang",
"Kartusche",
"Drachenlegenden",
                }
                .Where(name => Model.Series.HasEntry(name))
                .Select(name => {
                    var entry = Model.Series.GetEntry(name);
                    return $"<a href='{Model.Links.GetPathByPage("/Timeline", null, new { name = entry?.SeoTitle })}'>{entry?.Year} {entry?.DisplayName}</a>";
                })),
                }));
    }

    if (Model.UiCultureName == "de-DE") {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["ImgSrc"] = "/images/Index/Megastrukturen-und-Galaktische-Imperien.jpg",
                    ["ImgAlt"] = "Megastrukturen und Galaktische Imperien",
                    ["Title"] = "Megastrukturen und Galaktische Imperien",
                    ["Text"] = "Es geht um große Dinge in Science Fiction: Dyson Sphären und Imperien mit unzähligen Planeten. Wer ist mächtiger? die Föderation der Planeten, das Imperium von Trantor oder ein voll ausgebautes Sonnensystem? Anfangs gibt es Raumstationen wie die ISS, dann rotierende Raumkolonien, irgendwann einen Ring um die Erde. Später vielleicht mehrere Ringe oder sogar ein Banks-Orbital mit Millionen Kilometern Durchmesser. Und eine Ringwelt um die Sonne ist erst der Anfang, wenn man eine Dyson Sphäre bauen will. Der mögliche Weg von rotierenden Zylindern zur Kardashev 2 Zivilisation.<br/>[Ein Vortrag, den ich gerne bei euch halte]",
                }));
    }

    if (Model.UiCultureName == "de-DE") {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["Title"] = "30 Day Challenge: Awesomisierung",
                    ["Text"] = "Viele alte Einträge der Timeline enthalten Ideen, die noch nicht richtig ausgearbeitet sind. Oft sind das nur Einzeiler. Da könnte man viel mehr dazu schreiben. Deshalb werde ich in den nächsten 30 Tagen jeden Tag einem alten Eintrag mehr Inhalt geben. Also keine neuen Einträge in die Zeitleiste, aber viel mehr Story für existierende Einträge. Oft entsteht die Story erst jetzt. Es zeigt sich, dass manche der Einzeiler nur Platzhalter waren. Da geht mehr. Beim Schreiben kommen neue Ideen. Highlights: <br/>" + string.Join("<br/>", new[] {
"piraten",
"dilan",
"marcopolodilan",
"kopernikusstation",
"centaurus",
"schnellbahn",
"generationsschiff",
"begun",
"fraktal",
"interia",
"ultrametals",
"kelrec",
"wotan",
"adic",
"oekomil",
"muell",
"savant",
"rennen",
"flottengesetz",
"yaris",
"regionalzentrum",
"gee",
"guedan",
"spacedomrettung",
"dubaicosmodrome",
"massara",
"caves",
"freierbereichvegas",
"mukhagni",
"ancientrobots",
"executivedecision",
"kisor",
}
                .Where(name => Model.Series.HasEntry(name))
                .Select(name => {
                    var entry = Model.Series.GetEntry(name);
                    return $"<a href='{Model.Links.GetPathByPage("/Timeline", null, new { name = entry?.SeoTitle })}'>{entry?.Year} {entry?.DisplayName}</a>";
                })),
                }));
    }

    if (Model.UiCultureName == "de-DE") {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["ImgSrc"] = "/images/Index/Science-in-Science-Fiction.jpg",
                    ["ImgAlt"] = "Science in Science Fiction",
                    ["Title"] = "Science in Science Fiction",
                    ["Text"] = "Von der Science Fiction kennen wir diese Themen: Überlichtgeschwindigkeit, Aliens, Antigravitation, Terraforming, Schutzschilde, Beamen, Railguns, KI, Fusion, Nano, usw. Dieser Vortrag gibt einen Überblick, was die moderne Wissenschaft dazu sagt. Bei einigen Themen hat sich der Stand der Wissenschaft geändert und das kommt nur langsam in der Science Fiction Literatur an. Was stimmt noch und was hat sich geändert? Was ist wissenschaftlich fundiert, was wäre vielleicht möglich und was wird immer erfundene Wissenschaft bleiben.<br/>[Ein Vortrag, den ich gerne bei euch halte]",
                }));
    }

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["ImgSrc"] = "/images/Index/book.png",
                    ["ImgAlt"] = "Buch",
                    ["Link"] = "https://www.amazon.de/dp/1536999199",
                    ["Title"] = Model.I18n.String(path: "Box/Book/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Buch",
                        ["en-US"] = () => "Printed Book",
                    }),
                    ["Text"] = Model.I18n.String(path: "Box/Book/Text", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Galactic Developments als Buch und eBook für alle, die nicht auf Social Networks aktiv sind oder lieber ein Buch in der Hand haben.",
                        ["en-US"] = () => "Galactic Developments as Buch and eBook (in German).",
                    }),
                }));
    }

    {
        var entry = Model.Series.GetEntry("Gee");
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["ImgSrc"] = "/Image/" + entry?.Image ?? "",
                    ["ImgAlt"] = entry?.DisplayName ?? "",
                    ["Link"] = Model.Links.GetPathByPage("/Timeline", null, new { name = entry?.SeoTitle }) ?? "",
                    ["Title"] = entry?.DisplayName ?? "",
                    ["TitleHasLink"] = "true",
                    ["Text"] = entry?.Summary ?? "",
                }));
    }

    {
        cards.Add(Node.From(new Dictionary<string, string> {
                    ["ImgSrc"] = "/images/Index/merch.jpg",
                    ["ImgAlt"] = "Hoodie",
                    ["Link"] = "https://shop.spreadshirt.de/galactic-developments",
                    ["Title"] = Model.I18n.String(path: "Box/Merch/Title", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "Merch",
                        ["en-US"] = () => "Merch",
                    }),
                    ["Text"] = Model.I18n.String(path: "Box/Merch/Text", i18n: new StringGeneratorI18n {
                        ["de-DE"] = () => "T-Shirts und Hoodies",
                        ["en-US"] = () => "T-Shirts and Hoodies",
                    }),
                }));
    }

}

<script src="~/lib/masonry-4.2.2.min.js" async></script>
<script src="~/js/masonryAutoRelayout.js" async></script>
<div class="row" data-masonry='{ "percentPosition": true, "isLayoutInstant": true }'>
    @foreach (var card in cards) {
        <div class="col-sm-6 col-lg-4 my-2">
            <div class="card">
                @if (@card["ImgSrc"].String != "") {
                    @if (@card["Link"].String != "") {
                        <a href="@card["Link"].String"><img class="card-img-top" src="@card["ImgSrc"]" data-toggle="modal" data-target="#iCard@(card.GetHashCode())"></a>
                    } else {
                        <img class="card-img-top" src="@card["ImgSrc"]" data-toggle="modal" data-target="#iCard@(card.GetHashCode())">
                    }
                    <div id="iCard@(card.GetHashCode())" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="@card["ImgSrc"]" alt="@card["ImgAlt"]" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="card-body">
                    @if (@card["Title"].String != "") {
                        @if (@card["TitleHasLink"].Bool) {
                            <h5 class="card-title"><a href="@card["Link"].String">@card["Title"]</a></h5>
                        } else {
                            <h5 class="card-title">@card["Title"]</h5>
                        }
                    }
                    @if (@card["TextHasLink"].Bool) {
                        <p><a href="@card["Link"].String">@Html.Raw(card["Text"])</a></p>
                    } else {
                        <p>@Html.Raw(card["Text"])</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
