<script src="~/lib/masonry-4.2.2.min.js" async></script>
<script src="~/js/masonryAutoRelayout.js" async></script>

@{
    var colSpec = ViewData["bootstrap-card-column-spec"] ?? "col-sm-6 col-lg-4";
}

<div class="row" data-masonry='{ "percentPosition": true, "isLayoutInstant": true }'>
    @foreach (var card in Model) {
        <div class="@colSpec my-2">
            <div class="card" @(string.IsNullOrEmpty(card["Id"]) ? "" : "id=" + card["Id"])>
                @if (@card["ImgSrc"].String != "") {
                    @if (@card["Link"].String != "") {
                        <a href="@card["Link"].String"><img class="card-img-top" src="@card["ImgSrc"]" alt="@card["ImgAlt"]" data-toggle="modal" data-target="#iCard@(card.GetHashCode())"></a>
                    } else {
                        <img class="card-img-top" src="@card["ImgSrc"]" alt="@card["ImgAlt"]" data-toggle="modal" data-target="#iCard@(card.GetHashCode())">
                    }
                    <div id="iCard@(card.GetHashCode())" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="@card["ImgSrc"]" alt="@card["ImgAlt"]" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (@card["VideoSrc"].String != "") {
                    <video class="card-img-top" src="@card["VideoSrc"]" alt="@card["ImgAlt"]" autoplay loop muted data-toggle="modal" data-target="#iCard@(card.GetHashCode())">
                        Your browser does not support the video tag.
                    </video>
                }
                <div class="card-body">
                    @if (@card["Title"].String != "") {
                        <h5 class="card-title">
                            @if (@card["TitleHasLink"].Bool) {
                                <a href="@card["Link"].String">@card["Title"]</a>
                            } else {
                                @if (@card["Anchor"].String != "") {
                                    <a name="@card["Anchor"]">@card["Title"]</a>
                                } else {
                                    @card["Title"]
                                }
                            }
                        </h5>
                    }
                    @if (@card["TextHasLink"].Bool) {
                        <p><a href="@card["Link"].String">@Html.Raw(card["Text"])</a></p>
                    } else {
                        <p>@Html.Raw(card["Text"])</p>
                    }
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function setHiliteClass() {
            var hash = window.location.hash.substring(1);
            var $currentHilite = $(".card-body-hilite");
            if (hash) {
                var $targetElement = $("#id-" + hash);
                // Only add class if it's not already on the target element
                if (!$targetElement.hasClass("card-body-hilite")) {
                    $currentHilite.removeClass("card-body-hilite");
                    $targetElement.addClass("card-body-hilite");
                }
            } else {
                // Remove class when no hash is set
                $currentHilite.removeClass("card-body-hilite");
            }
        }

        $(document).ready(function () {
            window.setInterval(setHiliteClass, 50)
        });
    </script>
}
