@inject LinkGenerator Links
@using Microsoft.AspNetCore.Http
@using n3q.Tools
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <meta name="description" content="@(ViewData["MetaDescription"])" />
    <meta property="og:title" content="@(ViewData["MetaFacebookTitle"])" />
    <meta property="og:description" content="@(ViewData["MetaFacebookDescription"])" />
    <meta property="og:image" content="@(ViewData["MetaFacebookImage"])" />
    <meta property="og:image:alt" content="@(ViewData["MetaFacebookImageAlt"])" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@("https://" + Context.Request.Host + Context.Request.Path + Context.Request.QueryString)" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="@(ViewData["MetaTwitterTitle"])" />
    <meta name="twitter:description" content="@(ViewData["MetaTwitterDescription"])" />
    <meta name="twitter:image" content="@(ViewData["MetaTwitterImage"])" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="my-logo" href="/">
                    <img src="~/images/site/logo.png" style="max-height:40px;" alt="Logo MarcoPolo" />
                </a>

                <a class="navbar-brand" href="/">Galactic Developments</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Topics">@Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n { ["de-DE"] = () => "Themen", ["en-US"] = () => "Topics" })</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Blog" asp-route-name="">@Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n { ["de-DE"] = () => "News", ["en-US"] = () => "News" })</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Assumptions">@Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n { ["de-DE"] = () => "Annahmen", ["en-US"] = () => "Assumptions" })</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">@Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n { ["de-DE"] = () => "About", ["en-US"] = () => "About" })</a>
                        </li>

                        <li class="nav-item">
                            <div class="my-findform">
                                <form id="selectLanguage" asp-page="/Find" method="get" class="form-horizontal" role="form">
                                    <input type="text" name="term" placeholder="@Model.I18n.String(path: "Search", i18n: new StringGeneratorI18n { ["de-DE"] = () =>"Suchen", ["en-US"] = () =>"Search" })" value="@ViewData["SearchTerm"]" />
                                </form>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="nav-link">
                                @await Html.PartialAsync("_SelectLanguagePartial")
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div-- class="content">

@*
        <div class="row mx-auto my-auto justify-content-center">
            @{
                var url = Context.Request.Path;
                var f = Crc32.ToDouble(url);
                var activeItem = (int)Math.Floor(Model.Carousel.Count * f);
                var carouselInterval = 1000000000;
                if (ViewData["Active"] is string s && s == "Index") {
                    carouselInterval = 10000;
                }
            }
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="@carouselInterval">
                <div class="carousel-inner" role="listbox">
                    @for (int i = 0; i < Model.Carousel.Count; i++) {
                        var item = Model.Carousel[i];
                        <div class="carousel-item @(i == activeItem ? "active" : "")">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="/Image/@item.Image" class="img-fluid">
                                    </div>
                                    <div class="card-img-overlay" onclick="location.href = '@Links.GetPathByPage("/Timeline", null, new { name = item.Link })'">@item.Description</div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <a class="carousel-control-prev w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <script>
            let items = document.querySelectorAll('.carousel .carousel-item')
            items.forEach((el) => {
                const minPerSlide = 4
                let next = el.nextElementSibling
                for (var i = 1; i < minPerSlide; i++) {
                    if (!next) {
                        // wrap carousel by using first child
                        next = items[0]
                    }
                    let cloneChild = next.cloneNode(true)
                    el.appendChild(cloneChild.children[0])
                    next = next.nextElementSibling
                }
            })
        </script>
*@

        <div class="container">
@*
            @if ((ViewData["Active"] ?? "").ToString() == "Index") {
                <div class="stage-Index">
                    <img src="/images/site/stage-MegaProbe-1600x400.jpg" style="width:100%;" class="img-fluid" alt="Megaprobe" />
                </div>
                <div class="container">
                    <div class="col-12 text-end" style="position:relative; top:-30px; color: #ffffff">
                        @Model.I18n.String(path: "Meta/Image", i18n: new StringGeneratorI18n {
                   // ["de-DE"] = () => "Ein Frachter über den Wolken in der oberen Venus-Atmosphäre.",
                   // ["en-US"] = () => "A bubble freighter in the upper Venus upper atmosphere crusing above the clouds."
                   ["de-DE"] = () => "Automatischer interstellarer sublicht Mega-Scout des 24. Jahrhunderts",
                   ["en-US"] = () => "An automated 24th century interstellar sublight mega probe"
               })
                    </div>
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            } else {
                <img src="/images/site/stage-MegaProbe-1600x200.jpg" style="width:100%;" class="img-fluid" alt="Megaprobe" />
            }
*@

            @{
                var stageImageFilename = "VenusFreighter-1600x200.jpg";
                var stageImageDescription = "";
                try
                {
                    var yaml = System.IO.File.ReadAllText("wwwroot/images/stage/index.yaml");
                    var data = JsonPath.Node.FromYaml(yaml);
                    var list = data["list"].AsList;
                    var rndIndex = new Random().Next(0, list.Count);
                    var entry = list[rndIndex];
                    stageImageFilename = entry["image"].AsString;
                    var description = entry["description"].AsDictionary;
                    stageImageDescription = description[Model.Lang].AsString;
                }
                catch { }
            }
            <img src="/images/stage/@stageImageFilename" style="width:100%;" class="img-fluid" alt="Megaprobe" />
            <div class="col-12 text-end" style="position:relative; top:-1.7em; right:0.5em; color: #ffffff; filter: drop-shadow(1px 1px 2px #000000);">@stageImageDescription</div>

            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        </div>

        <footer class="border-top footer text-muted text-center">
            <div class="container">
                &copy; 2000 - 2023 (Wolf) - <a asp-area="" asp-page="/Privacy">Impressum / Legal / Privacy / DSGVO</a>
            </div>
        </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
